Welcome, this is a Ruby practice environment meant to prepare you for the Ruby certification Test. 
<br />
Please select which of the tests you wish to prepare for.

<div class='options'>
    <div class="test-option" id="silver">
        <p>Silver</p>
        <p><%= image_tag 'transparent_diamond.png', height: 50, width: 60 %></p>
    </div>


    <div class="test-option" id="gold">
        <p>Gold</p>
        <p><%= image_tag 'transparent_diamond.png', height: 50, width: 60 %></p>
    </div>
</div>