/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  body{
    margin: 0px;
    padding: 0px;
    background: #333333;
  }

  .console{
    border-top: 1px solid white
  }

  .title-section{
    background: #be5656;
    height: 85px;
    border-bottom: 1px solid #9c8484;
    h1-c{
      color: white;
      font-size: 45px;
      position: relative;
      top: 23px;
      left: 20px;
    }
    img{
      position: relative;
      float: right;
      right: 3%;
      height: 175px;
      top: -58px;
    }
  }

  @font-face {
    font-family: 'courier';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("CourierPrime-Regular.ttf") format('truetype');
  }

  .substance-section > div{
    font-family: 'courier';
    border: 1px solid white;
    border-radius: 10px;
    height: 450px;
    top: 137px;
    position: absolute;
    display: inline-block;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #eaa2a2;
    overflow-y: scroll;
  }

  .left-section{
    width: 47%;    
    left: 2%;
  }

  .right-section{
    width: 48%;
    right: 2%;
  }

  .options{
    margin-top: 10px;
    .test-option{
      display: inline-block;
      border: 1px solid pink;
      border-radius: 4px;
      padding: 6px;
      width: 10%;
      height: 74px;
      text-align: center;
      cursor: pointer;
      p{
        margin: 0;
      }
    }
  }
  